.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules
packages/eslint-formatter-safety-web/lib/*
packages/eslint-plugin-safety-web/lib/*
packages/runner-safety-web/bin/*
packages/test-helpers/expect-violations/bin/*
packages/tests/*/lib/*
packages/types-safety-web/*.js
packages/types-safety-web/*.js.map
