.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules
packages/eslint-plugin-safety-web/lib/*
packages/test-helpers/expect-violations/bin/*
packages/tests/*/lib/*
